.menuDiv-closed {
  height: 400px;
  width: 100vw;
  position: absolute;
  transition: all .5s ease;
  background-color: black;
  opacity: .7;
  overflow: hidden;
  top: -360px;
  cursor: s-resize;
}
.menuDiv-open {
  height: 400px;
  width: 100vw;
  position: absolute;
  transition: all .5s ease;
  background-color: black;
  opacity: .9;
  top: 0;
  cursor: n-resize;
}
