#menuDiv {
  z-index: 1;
}

.menuDiv-closed {
  height: 400px;
  width: 100vw;
  position: absolute;
  transition: all 0.5s ease;
  overflow: hidden;
  top: -360px;
  cursor: s-resize;
}

.menuDiv-open {
  height: 400px;
  width: 100vw;
  position: absolute;
  transition: all 0.5s ease;
  top: 0;
  cursor: n-resize;
}

#playerDiv {
  margin-top: 40px;
}

#menu-control {
  position: fixed;
  top: 0;
  right: 0;
  padding: 12px 10px;
}

.ListGroup-wrapper {
  padding-top: 40px;
}
