#menuDiv {
  z-index: 1;
}
.menuDiv-closed {
  height: 400px;
  width: 100vw;
  position: absolute;
  transition: all .5s ease;
  overflow: hidden;
  top: -360px;
  
}
.menuDiv-open {
  height: 400px;
  width: 100vw;
  position: absolute;
  transition: all .5s ease;
  top: 0;
}
#playerDiv {
  margin-top: 40px;
}
#menu-control {
  position: fixed;
  top: 0;
  right: 0;
  padding: 12px 10px;
  cursor: pointer;
  z-index: 2;
}
.menuDiv-wrapper {
  margin-top: 40px;
}